.stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  cursor: not-allowed;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 3px solid #f4f6f9;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
  cursor:default;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #f4f6f9;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f4f6f9;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
  cursor: pointer;
}

.stepper-item.completed .step-counter {
  background-color: #6c6ae5;
  color: #fff;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #6C6AE5;
  /* width: 100%; */
  top: 20px;
  left: 50%;
  z-index: 3;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
